<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.journal.salimfgaier.journalalc">


    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_logo"
        android:supportsRtl="true"
        android:name=".ALCJournalApp"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.MainActivity">
        </activity>


        <activity
            android:name=".Activities.JournalDaoActivity"
            android:parentActivityName=".Activities.MainActivity"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".Activities.GoogleSignInActivity"
            android:label="@string/label_google_sign_in" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

    </application>

</manifest>